<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
     <add name="ConnectionString" connectionString="Data Source=mok-hp;Initial Catalog=galaordering;User ID=sa;Password=Sa123;Connect Timeout=0" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="SMTP/Server" value="mail.wincom-tech.com" />
    <add key="SMTP/Sender" value="Development@wincom-tech.com" />
    <add key="SMTP/Password" value="mok#123" />
    <add key="SMTP/Port" value="587" />
    <add key="SMTP/Timeout" value="1000000" />
  </appSettings>
  <system.net>
      <mailSettings>
        <smtp from="development@wincom-tech.com">
          <network host="mail.wincom-tech.com"
           port="587"
           userName="development@wincom-tech.com"
           password="mok#123"
           enableSsl="false"/>
        </smtp>
      </mailSettings>
    
  </system.net>
</configuration>
